<html ng-app="myapp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-resource.js"></script>
	<script src="js/myapp.js"></script>
</head>
<body>
	<div ng-controller="mycontroller">

	<table width="90%" align="center">
		<tr>
			<td>
			<h2>Consulta con $http</h2>
				<input type="text" ng-model="nombreHTML" ng-change="buscarHTML()">
				<h1>{{nombreHTML}}</h1>
				<ul>
				<li ng-repeat="dato in resultadosHTML">{{dato._id}} {{dato.valor}} {{dato.tiempo}}</li>
				</ul>
				<button ng-Click="buscarHTML()">Login</button>
				</div>
			</td>
			<td>
			<h2>Consulta con $resource</h2>
				<input type="text" ng-model="nombreResource" ng-change="buscarResource()">
				<h1>{{nombreResource}}</h1>
				<ul>
				<li ng-repeat="dato in resultadosResource">{{dato._id}} {{dato.valor}} {{dato.tiempo}}</li>
				</ul>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
