<html ng-app="appPerfil">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-resource.js"></script>
	<script src="js/myapp.js"></script>
</head>
<body>
  <script>
  var nombreUsuario = ""
  var url=""
  function cogeDatos() {
    if(location.search){
      url=location.search.substring(1);
      nombreUsuario=url.split("=")[1]
      document.write(nombreUsuario);
    }
  }
  cogeDatos();
  </script>
	<div ng-controller="perfilController">
	<table width="90%" align="center">
		<tr>
			<td>
			<h2>Consulta con $http</h2>
				<input type="text" ng-model="nombreHTML" ng-change="buscarHTML()">
				<h1>{{nombreHTML}}</h1>
				<ul>
				<li ng-repeat="dato in resultadosHTML">{{dato._id}} {{dato.valor}} {{dato.tiempo}}</li>
				</ul>
				<button ng-Click="desplegarRegistrosUsuario()">Login</button>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
